apiVersion: v1
kind: ConfigMap
metadata:
  name: elasticsearch-config
  labels:
    app: elasticsearch
data:
  elasticsearch.yml: |
    cluster.name: es-cluster
    node.name: es-node-0

    discovery.type: single-node
    xpack.security.enabled: false
    network.host: 0.0.0.0